<div class="container">
  <div class="favor-hero-img"></div>
  <div class="container-hero" id="herocont">
    <div class="slider-left-part">
      <h1 class="hero-title">
        LEARN TO COOK
        <span class="hero-green-text">TASTY TREATS'</span> CUSTOMIZABLE
        MASTERCLASS
      </h1>
      <p class="hero-site-descr">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button type="button" class="hero-order-now" id="hero-order-now-id">
        Order now
      </button>
    </div>

    <div class="swiper mySwiper hero-slider swiper-container">
      <div class="swiper-wrapper">
        <!-- <div class="swiper-slide">
          <ul class="slider-list">
            <li>
              <img
                class="slider-img-one"
                src="https://tasty-treats-backend.p.goit.global/HestonChan.png"
                alt="фіафафіафіаіа"
              />
            </li>
            <li class="slider-second-part">
              <img
                class="slider-img-two"
                src="https://tasty-treats-backend.p.goit.global/imgDish1.png"
                alt="фаіфаіфаіа"
              />
              <h2 class="slider-food-descr">авпрврварварар</h2>
              <p class="slider-country">ФІАфіафіафіа</p>
            </li>
            <li>
              <img
                class="slider-img-three"
                src="https://tasty-treats-backend.p.goit.global/AnaSmyth.png "
                alt="прооопрорпорп"
              />
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>
