:root {
  --white-color: rgb(255, 255, 255);

  --accent-color: rgb(155, 181, 55);
  --star-color: rgb(238, 161, 12);
  --boody-bg: rgb(248, 248, 248);
  --description-font-color: rgba(5, 5, 5, 0.8);
  --trans: 250ms linear;
  --dark-boody-bg: rgb(22, 22, 22);
  --dark-description-font-color: rgba(255, 255, 255, 0.8);

  --border-color: rgba(5, 5, 5, 0.2);
  --font-color: rgba(5, 5, 5, 0.5);
  --spec-unaktstar-col: rgba(0, 0, 0, 0.15);
  --spec-box-shad: rgba(0, 0, 0, 0.3);
  --pag-unakt: rgba(154, 180, 55, 0.314);
  --pag-text-unakt: rgba(248, 248, 248, 0.5);
  --spinner-special: rgba(0, 0, 0, 0);
  --backdrop: rgba(0, 0, 0, 0.5);

  --box-shad: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --trans-speed: width 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;

  --text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  --main-color: rgb(5, 5, 5);
  --dark-th-color-descrpop: rgba(5, 5, 5, 0.8);
  --dark-th-color-bord: rgba(5, 5, 5, 0.2);
  --dark-th-color-categ: rgba(5, 5, 5, 0.5);
  --dark-th-color: rgb(5, 5, 5);
  --dark-th-color-hearts: rgba(89, 38, 38, 0.7);
  --dark-kart-name: rgb(255, 255, 255, 1);
  --dark-th-color-descrkart: rgba(255, 255, 255, 0.8);
  --dark-th-kart-grad: rgba(5, 5, 5, 0.6), rgba(5, 5, 5, 0);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: var(--boody-bg);
}
.dark body {
  background-color: var(--dark-boody-bg);
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: var(--white-color);
}

.dark p {
  color: var(--dark-description-font-color);
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* .dark ul,
ol{
    color:  var(--dark-description-font-color) ;
  } */
a {
  color: currentColor;
  text-decoration: none;
  outline: transparent;
}
.dark a {
  color: var(--dark-description-font-color);
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 375px;
  margin: 0 auto;
  /* overflow-y: hidden !important;
  overflow-x: hidden !important; */
  /* overflow: hidden !important; */
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
