.hidden-favorites {
  display: none;
}

.favor-hero-img {
  background-image: url(../img/hero-favorites-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  border-radius: 15px;
  max-width: 335px;
  height: 516px;

  display: none;
  display: flex; /* Используем flex контейнер для центрирования */
  align-items: center;
  justify-content: center;
  display: none;
}

/* //CATEGORY */
.category-fav {
  margin-top: 40px;
  display: none;
}

.cat-button-fav {
  width: auto;
  height: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  border: 1px solid var(--dark-th-color-bord);
  background-color: var(--boody-bg);
  color: var(--dark-th-color-categ);
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 14px;
  margin: 0 15px 0 0;
  user-select: none;
}

.cat-button-fav-active {
  background-color: var(--accent-color);
  color: var(--boody-bg);
  border: none;
  user-select: none;
}

.cat-button-fav:hover {
  background-color: var(--accent-color);
  color: var(--boody-bg);
  border: none;
  user-select: none;
}

.cat-fav-list {
  display: flex;

  height: 50px;
  width: 335px;
  overflow: hidden;
}

.karten-block-fav {
  display: none;
  margin-top: 20px;
  margin-bottom: 60px;
}

/* //////////////////////// */

/* Nothing was found */

.nothing-was-found {
  display: none;
  margin-top: 150px;
  margin-bottom: 150px;
}

.nothing-was-found-shapka {
  fill: var(--accent-color);
  width: 68px;
  height: 58px;
  margin-left: 135px;
  margin-bottom: 24px;
}

.nothing-was-found-text {
  width: 335px;
  height: 72px;
}

/* slider */

.slick-cloned {
  display: none !important;
}

/* /////// */
.cat-fav-list {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  cursor: grab; /* Указатель "grab" при наведении для показа возможности перетаскивания */
}
