/* CATEGORIES */

.categories-container {
  width: 396px;
  height: 196px;
  overflow: scroll;
}

.cat-button {
  width: 176px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.21;
  border: 1px solid var(--dark-th-color-bord);
  background-color: var(--boody-bg);
  color: var(--dark-th-color-categ);
  border-radius: 15px;
  cursor: pointer;
  margin-top: 80px;
}

.cat-button-active {
  background-color: var(--accent-color);
  color: var(--boody-bg);
  border: none;
}

.cat-button:hover {
  background-color: var(--accent-color);
  color: var(--boody-bg);
  border: none;
}

.categories-container {
  width: 326px;
  height: 198px;
  margin-top: 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.cat-option {
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-th-color-categ);
  line-height: 1.2857;
  margin-bottom: 18px;

  outline: none;
  font-weight: 500;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--boody-bg);
  text-align: left;
  border-style: none;
}

.cat-option-act {
  color: var(--accent-color);
}

/* popular */

.popular-container-gen {
  margin-top: 40px;
  margin-bottom: 40px;
}

.popular-container {
  height: 158px;
  width: 335px;
  overflow: hidden;
}

.pop-title {
  width: 166px;
  height: 24px;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 20px;
}

.pop-klein-container {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.popular-image {
  width: 64px;
  height: 64px;
}

.pop-recht-teil {
  width: 252px;
  height: 67px;
}

.popular-name {
  text-transform: uppercase;
  width: 136px;
  height: 18px;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 600;
  color: var(--main-color);
  overflow: hidden;
}

.popular-descr {
  width: 252px;
  height: 34px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  color: var(--dark-th-color-descrpop);
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* //FILTERS */

.marker-filter {
  color: var(--dark-th-color-categ);
}

#area option {
  color: var(--dark-th-color-categ);
}

#area option:checked {
  color: var(--dark-th-color);
}

#time option {
  color: var(--dark-th-color-categ);
}

#time option:checked {
  color: var(--dark-th-color);
}

#ingr option {
  color: var(--dark-th-color-categ);
}

#ingr option:checked {
  color: var(--dark-th-color);
}

/* //reset button */

.reset-button-position {
  display: flex;
  margin-top: 14px;
  margin-left: 235px;
}

.green-kreuz {
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.name-of-kreuz {
  color: var(--dark-th-color-categ);
  font-size: 12px;
  left: 20px;
  cursor: pointer;
}

/* 
//ВНЕШНИЙ ВИД ВЫПАД СПИСКА */
#search-input,
#time,
#area,
#ingr {
  padding: 14px 48px;
  width: 188px;
  border-radius: 15px;
  border: 1px solid var(--dark-th-color-bord);
  color: var(--dark-th-color-categ);
  line-height: 1.28;
  padding-left: 18px;
  background-color: var(--boody-bg);
  outline: none;
  font-weight: 500;
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
}

#time,
#area,
.filter-name-of-filed,
.filter-name-of-filed {
  width: 161px;
}

#search-input,
.filter-search {
  width: 335px;
}

#search-input:valid {
  color: var(--dark-th-color);
}

.filters-area-time-position {
  display: flex;
  gap: 14px;
}

.filter-name-of-filed {
  margin-bottom: 8px;
  color: var(--dark-th-color-categ);
  font-size: 12px;
  left: 20px;
  margin-top: 14px;
}

/* ///БЛОК КАРТ */
.karten-block {
  margin-top: 20px;
}

.kard-prod-contatiner {
  position: relative;
  width: 335px;
  height: 335px;
  margin-bottom: 24px;
}

.kart-bild {
  width: 335px;
  height: 335px;
  position: absolute;
  border-radius: 8px;
}

.kart-gradietn {
  background-image: linear-gradient(to right, var(--dark-th-kart-grad));
  width: 335px;
  height: 335px;
  position: absolute;
  border-radius: 8px;
  opacity: 10%;
}

.kart-andere-information {
  position: absolute;
  margin-left: 16px;
}

.heart-icon {
  cursor: pointer;
  fill: none;
  stroke: var(--dark-th-color-hearts);
  width: 22px;
  height: 22px;
  float: right;
  margin: 16px 16px;
}

.heart-icon-toggle {
  fill: var(--dark-th-color-hearts);
}

.kart-name-food {
  margin-top: 214px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857;
  text-transform: uppercase;
  color: var(--dark-kart-name);
  white-space: nowrap;
  overflow: hidden;
  width: 280px;
  height: 18px;
}

.kart-food-descr {
  width: 303px;
  height: 32px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.333;
  color: var(--dark-th-color-descrkart);
  overflow: hidden;
  text-overflow: ellipsis;
}

.star-icon-first,
.star-icon-second,
.star-icon-third,
.star-icon-fourth,
.star-icon-fift {
  fill: var(--star-color);
  width: 18px;
  height: 18px;
}

.filters-icon-rating-black {
  fill: var(--spec-unaktstar-col);
  width: 18px;
  height: 18px;
}

.kart-list-rating {
  display: flex;
  margin-left: 4px;
  margin-right: 98px;
}

.kart-unten-teil-kart {
  display: flex;
  margin-top: 16px;
  margin-right: 16px;
  float: right;
}

.kart-raiting {
  text-align: center;
  color: var(--dark-th-color-descrkart);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857;
}

.kart-recept-button {
  width: 89px;
  height: 31px;
  color: var(--white-color);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.21;
  background-color: var(--accent-color);
  border-style: none;
}

/* //PAGINATION */

.pagination-list {
  display: flex;
  gap: 5px;
  text-align: center;
  justify-content: center;
  /* display: none; */
  margin-bottom: 40px;
}

.pagination-num {
  background-color: var(--pag-unakt);
  user-select: none;
}

.hidden {
  display: none;
}

.pagination-control {
  display: none;
}

/* buttons paginations */

#pagination-begin,
#pagination-previous,
#pagination-previous-numb,
#pagination-first,
#pagination-seccond,
#pagination-next,
#pagination-last {
  color: var(--pag-text-unakt);
  width: 35px;
  height: 35px;

  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;

  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
}

.activ-pag-button {
  color: var(--boody-bg) !important;
}

/* Spinner */

.in-progress {
  --pwd: var(--wave-diameter, 250px);
  --pwb: var(--wave-thickness, 10px);
  --pwt: var(--wave-duration, 2s);
  position: absolute;
  top: 600;
  left: 20%;
  width: 250px;
  z-index: 10;

  display: none;
}

@keyframes progresswave {
  from {
    border: var(--pwb) var(--font-color) solid;
    width: calc(var(--pwb) * 2);
    height: calc(var(--pwb) * 2);
    border-radius: calc(var(--pwb) * 2);
  }
  to {
    border: var(--pwb) var(--spinner-special) solid;
    width: var(--pwd);
    height: var(--pwd);
    border-radius: var(--pwd);
  }
}

.in-progress::before,
.in-progress::after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  animation: var(--pwt) linear infinite progresswave;
}

.in-progress::after {
  animation-delay: calc(var(--pwt) / 2);
}

.pagination-num:hover {
  box-shadow: var(--box-shad);
}

/* NOTHING FOUND */

.shapka-filter {
  fill: var(--accent-color);
  width: 68px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 24px;
  margin-top: 40px;
}

.filt-not-found {
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 325px;
}
