.modal-order-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  padding-top: 80px;
  padding-bottom: 80px;

  width: 100%;
  height: 100%;
  background-color: var(--backdrop);

  overflow-y: scroll;
  display: none;
}

.head-position {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 85px;
  position: relative;
}

.head-nav-nav {
  display: none;
}

.head-logo-text-sty {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.125;
  cursor: pointer;
  color: var(--dark-th-color);
}

.head-logo-text-sty:hover {
  border-radius: 15px;

  text-shadow: var(--text-shadow);
}

.head-logo {
  color: var(--accent-color);
}

.head-logo-pos {
  margin-right: 182px;
}

.head-order-basket {
  fill: var(--dark-th-color);
  width: 24px;
  height: 24px;
  stroke: var(--dark-th-color);
  fill: var(--boody-bg);
  cursor: pointer;
  margin-right: 7px;
}

.head-hamburger-icon {
  fill: var(--dark-th-color);
  width: 32px;
  height: 32px;
  stroke: var(--dark-th-color);
  margin-left: 7px;
  cursor: pointer;
}

.head-order-basket:hover,
.head-hamburger-icon:hover {
  stroke: var(--accent-color);
  text-shadow: var(--text-shadow);
}

.head-cross-icon {
  width: 32px;
  height: 32px;
  stroke: var(--boody-bg);
  margin-left: 14px;
  cursor: pointer;
  z-index: 26;
  position: absolute;
  right: 15px;
  top: 0;
  left: 315px;
  display: none;
}

/* SIDEBAR */

.header-side-window {
  height: 812px;
  width: 0;
  background-color: var(--accent-color);
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 3;
  border-radius: 15px;
  box-shadow: var(--box-shad);
  transition: var(--trans-speed);
}

.header-field {
  position: relative;
  height: 812px;
  width: 200px;
  display: none;
}

.header-nav-position {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 200px;
}

.head-nav-sidebar-fav,
.head-nav-sidebar-home {
  color: var(--boody-bg);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.45;
  margin-bottom: 16px;
  display: inline-block;
  top: 0;
  left: 0;
  cursor: pointer;
}

.heade-width-max {
  width: 200px;
  opacity: 1;
}
.heade-field-displ {
  display: inline-block;
}

/* CHECKBOX */

.head-checkbox-ios {
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  z-index: 3;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.head-checkbox-ios .checkbox-ios-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 46px;
  height: 22px;
  border: 1px solid var(--spec-unaktstar-col);
  border-radius: 25%/50%;
  vertical-align: top;
  background: var(--boody-bg);
  transition: 0.2s;
}

.head-checkbox-ios .checkbox-ios-switch:before {
  content: '';
  position: absolute;
  top: 1px;
  left: -1px;
  display: inline-block;
  width: 18.8px;
  height: 18.8px;
  border-radius: 45%;
  background: var(--boody-bg);
  box-shadow: 0 3px 5px var(--spec-box-shad);
  transition: 0.2s;
}

.head-checkbox-ios input[type='checkbox'] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.head-checkbox-ios
  input[type='checkbox']:not(:disabled):active
  + .checkbox-ios-switch:before {
  box-shadow: inset 0 0 2px var(spec-box-shad);
}

.head-checkbox-ios input[type='checkbox']:checked + .checkbox-ios-switch {
  background: var(--accent-color);
}

.head-checkbox-ios
  input[type='checkbox']:checked
  + .checkbox-ios-switch:before {
  transform: translateX(28px);
}

/* Hover */
.head-checkbox-ios
  input[type='checkbox']:not(:disabled)
  + .checkbox-ios-switch {
  cursor: pointer;
  border-color: var(spec-box-shad);
}

/* Disabled */
.head-checkbox-ios input[type='checkbox']:disabled + .checkbox-ios-switch {
  filter: grayscale(70%);
  border-color: var(--spec-unaktstar-col);
}

.head-checkbox-ios
  input[type='checkbox']:disabled
  + .checkbox-ios-switch:before {
  background: var(--boody-bg);
}

/* Focus */
.head-checkbox-ios.focused .checkbox-ios-switch:before {
  box-shadow: inset 0px 0px 4px var(--star-color);
}

/* //MODAL WINDOW  ORDER */

.modal-position-rel {
  position: relative;
}

.modal-fenster-order {
  width: 335px;
  height: 582px;
  border-radius: 15px;
  background-color: var(--boody-bg);
  border: 1px solid var(--border-color);
  margin: 0 auto;
  position: absolute;
  top: 200%;
  left: 5%;
  z-index: 5;
  display: none;
  box-shadow: var(--box-shad);
}

/* /////////////////////////////// */
.modal-fenster-order-disp {
  display: inline;
}

.modal-cross-icon {
  width: 20px;
  height: 20px;
  stroke: var(--main-color);
  float: right;
  margin: 14px 14px 0 0;

  cursor: pointer;
}

.modal-name-window {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  padding-top: 28px;
  margin-left: 20px;
  color: var(--dark-th-color);
}

.modal-form-position {
  margin: 28px auto 0;
  width: 295px;
  height: 390px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group-last {
  margin-bottom: 0;
}

.form-group label {
  margin-bottom: 8px;
}

.mod-name-form {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.285;
  color: var(--dark-th-color-categ);
}

.mod-input-design {
  height: 46px;
  width: 296px;
  padding: 5px 5px;
  border-radius: 15px;
  border: 1px solid var(--dark-th-color-categ);
  color: var(--dark-th-color-categ);
  line-height: 1.28;

  background-color: var(--boody-bg);
  outline: none;
  font-weight: 500;
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mod-input-design-comment {
  height: 100px;
  resize: none;
  line-height: 1;
  vertical-align: top;
}

.mod-button-design {
  height: 46px;
  width: 296px;
  border-radius: 15px;
  color: var(--white-color);
  border: var(--accent-color);
  line-height: 1.28;
  background-color: var(--accent-color);
  outline: none;
  font-weight: 500;
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  margin-top: 40px;
}
#highload1 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .head-nav-nav {
    display: block;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .head-nav-fav,
  .head-nav-home {
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.45;
    cursor: pointer;
  }

  .head-nav-fav {
    color: var(--dark-th-color);
  }

  .head-nav-home:hover {
    text-shadow: var(--text-shadow);
  }

  .head-nav-fav:hover {
    text-shadow: var(--text-shadow);
  }

  .head-logo-pos {
    margin-right: 211px;
    margin-left: 203px;
  }

  .head-hamb-button {
    display: none;
  }

  /* ///second chekbox */

  .lb1 {
    margin: 10px 0 10px 20px;
  }
  #highload1 {
    display: none;
  }
  #highload1 + .lb1,
  #highload1 + .lb1::before,
  #highload1 + .lb1::after {
    transition: all 0.3s;
  }
  #highload1 + .lb1 {
    display: inline-block;
    position: relative;
    width: 46px;
    height: 21px;
    border-radius: 30px;
    cursor: pointer;
  }
  #highload1 + .lb1::before {
    display: block;
    content: attr(data-offlabel);
    position: absolute;
    top: 18px;
    right: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
  }
  #highload1 + .lb1::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 2px;
    left: 1px;
    width: 18px;
    height: 18px;
    background-color: white;
  }
  #highload1:checked + .lb1::before {
    content: attr(data-onlabel);
    left: 8px;
    right: auto;
    color: #fff;
  }
  #highload1:checked + .lb1::after {
    left: 28px;
    background-color: #f7f7f7;
  }
  #highload1 + .lb1 {
    background-color: #ccc;
  }
  #highload1:checked + .lb1 {
    background-color: var(--accent-color);
  }
  #highload1:checked + .lb1::before {
    color: #fff;
  }

  .modal-fenster-order {
    width: 440px;
    height: 632px;

    top: 400%;
    left: 20%;
  }

  .mod-input-design {
    width: 360px;
  }

  .modal-form-position {
    width: 360px;
  }

  .modal-name-window {
    margin-left: 40px;
    margin-top: 40px;
  }

  .mod-button-design {
    width: 360px;
  }

  .nothing-was-found-text,
  .nothing-was-found {
    margin: 0 auto;
    text-align: center;
  }
  .nothing-was-found-shapka {
    margin-left: 0 !important;
  }
}

@media only screen and (min-width: 1280px) {
  .head-logo-pos {
    margin-left: 391px;
    margin-right: 399px;
  }

  .head-position {
    margin-bottom: 94px;
  }

  .modal-fenster-order {
    left: 33%;
  }
}
