/* ///RECEIPE KART */

.receipe-kart {
  width: 335px;
  height: auto;
  border-radius: 15px;
  background-color: var(--boody-bg);
  box-shadow: var(--box-shad);
  position: absolute;
  z-index: 7;
  top: auto;
  left: auto;
  border: 1px solid var(--dark-th-color-bord);
}

.receipe-video {
  width: 295px;
  height: 295px;
  border-radius: 8px;
  margin: 6px 20px 20px;
}

.receipe-kart-сross {
  width: 20px;
  height: 20px;
  stroke: var(--dark-th-color);
  cursor: pointer;
  float: right;
  margin: 14px 14px 0 0;
}

.receipe-text-container {
  margin: 0 20px 40px;
  background-color: var(--boody-bg);
}

.receipe-titel {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: var(--dark-th-color);
}

.receipe-rating-line {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
  margin-top: 14px;
}

.receipe-number-time-rait {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.285;
  color: var(--dark-th-color-categ);
}

.receipe-number-rait {
  margin-left: 16px;
  text-align: left;
}

.receipe-list-rating {
  margin-right: 0;
}

.receipe-ingr-list-element {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-th-color-bord);
  margin-bottom: 14px;
  padding-bottom: 8px;
}

.receipe-ingr-type {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857;
  color: var(--dark-th-color);
}
.receipe-ingr-quantity {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857;
  color: var(--dark-th-color-categ);
}

.recipe-tag-list {
  display: flex;
  gap: 8px;
  justify-content: left;
  margin-top: 40px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.recipe-tag-list-elem {
  height: auto;
  border: 1px solid var(--dark-th-color-bord);
  border-radius: 35px;
  padding: 8px 16px;
  color: var(--dark-th-color);

  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
}

.recipe-food-descr {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857;
  color: var(--dark-th-color);
}

.recipe-button-block {
  display: flex;
  padding: 40px 0 0;
  justify-content: center;
  gap: 14px;
}

.recipe-favor-button {
  border-radius: 15px;
  background-color: var(--accent-color);
  border-style: none;
  color: var(--white-color);
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2142;
  width: 148px;
}

.recive-rating-button {
  border-radius: 15px;
  background-color: var(--boody-bg);
  border-style: none;
  border: 1px solid var(--accent-color);
  color: var(--dark-th-color);

  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2142;
}

/* //RATING KART  */

.rating-kart-field {
  height: 216px;
  width: 335px;
  border-radius: 15px;
  box-shadow: var(--box-shad);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--boody-bg);
  border: 1px solid var(--dark-th-color-bord);

  z-index: 29;
  display: none;
}

.star-icon {
  fill: var(--border-color);
  width: 24px;
  gap: 2px;
  height: 24px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: color 0.3s;
}

.star-icon:hover {
  fill: var(--star-color);
  stroke: var(--star-color);
}

.rating-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857;
  margin-left: 20px;
  padding-top: 20px;
  color: var(--dark-th-color);
}

.rating-number {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 20px;
  padding-right: 8px;
  color: var(--dark-th-color);
}

.kart-list-rating-dialog {
  display: flex;
  margin-top: 4px;
}

.rating-email-field {
  width: 295px;
  height: 46px;
  margin-top: 24px;
  margin-left: 20px;
  border-radius: 15px;
  border-style: none;
  border: 1px solid var(--border-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857;
  padding-left: 18px;
  margin-bottom: 14px;
  color: var(--font-color);
  padding-top: 12px;
}

.rating-send-button {
  width: 295px;
  height: 46px;

  margin-left: 20px;
  border-radius: 15px;
  border-style: none;
  background-color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857;
  margin-bottom: 14px;
  color: var(--white-color);
}

.rating-kart-сross {
  width: 20px;
  height: 20px;
  stroke: var(--dark-th-color);
  cursor: pointer;
  float: right;
  margin: 14px 14px 0 0;
}
.rating-send-button,
.rating-email-field {
  user-select: none;
}

@media only screen and (min-width: 768px) {
  .receipe-kart {
    width: 531px;
  }
  .receipe-titel {
    text-transform: uppercase;
    font-size: 18px;
  }

  .receipe-video {
    width: 467px;
    height: 250px;
    margin: 20px 30px 0px;
  }

  .recipe-tag-list {
    margin-top: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .receipe-kart {
    left: 560px;
  }
}
